cmake
colorama
colorlog
confection
ConfigUpdater
connexion
contourpy
cron-descriptor
croniter
cryptography
cycler
cymem
deepface
defusedxml
Deprecated
dill
distro
distutils-extra-python
huggingface-hub
humanize
idna
imagesize
importlib-metadata
importlib_resources
inflection
itsdangerous
jax
jaxlib
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
kazam
keras
keras-models
kiwisolver
kombu
langcodes
language_data
lazy-object-proxy
libclang
limits
linkify-it-py
lockfile
lz4
Mako
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
numpy
opencv-contrib-python
opencv-python
pandas
pydantic
pydantic_core
setuptools
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
